
@{
    ViewBag.Title = "Index";
}

<h1>Bem vindo ao cadastro/consulta de eventos. Escolha opção: </h1>
<ul>
    <li>@Html.ActionLink("Cadastro Eventos", "Cadastro", "Eventos")</li>
    <li>@Html.ActionLink("Lista Eventos", "Listar", "Eventos")</li>
</ul>

